.skills {
    height: 50vh;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-texts {
    width: 65%;
}

.skills-title {
    font-size: 3.125rem;
    font-weight: 600;
}

.skills-desc {
    margin: 1.25rem 0;
    font-size: 1.5rem;
}

.skills-container {
    width: 65%;
    border-top: 2px solid #ff8317;
    padding: 3% 0;
    display: flex;
    justify-content: center;
}

.s-list {
    width: 20%;
    margin: 0 5%;
}

.s {
    font-size: 1.5rem;
}


/* LAPTOP VIEW */

@media screen and (max-width: 1024px) and (min-width: 769px) {
    
}

/* LAPTOP VIEW */


/* TABLET VIEW */

@media screen and (max-width: 768px) and (min-width: 481px) {
    
}

/* TABLET VIEW */


/* PHONE VIEW */

@media screen and (max-width: 480px) {
    .skills {
        height: 70vh;
        margin-top: 5%;
    }

    .skills-texts { 
        width: 100%;
    }

    .skills-container {
        border-top: 2px solid #ff8317;
        width: 100%;
    }

    .s-list {
        width: 50%;
    }

    .s {
        font-size: 1.4rem;
    }
}

/* PHONE VIEW */