.a {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 3.5%;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
}

.a-right {
    flex: 1;
    padding: 1rem;
    width: 50%;
}

.a-card.bg {
    position: absolute;
    top: 3.125rem;
    left: 3.125rem;
    background-color: #ff8317;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 1.875rem;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1.25rem;
}

.a-title {
    font-weight: 400;
    font-size: 3.5rem;
}

.a-sub {
    margin: 1.25rem 0rem;
    height: 11vh;
    word-wrap: break-word;
    font-size: 1.12rem;
    width: 90%;
}

.a-desc {
    font-weight: 300;
    width: 100%;
    word-wrap: break-word;
    font-size: 1.1rem;
    width: 90%;
}

.a-award {
    margin-top: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a-award-texts {
    width: 70%;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.a-award-texts a {
    text-decoration: none;
}

.a-award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: .625rem;
}

/* LAPTOP VIEW */

@media screen and (max-width: 804px) and (min-width: 769px) {
    .a-left {
        display: none;
    }
}

@media screen and (max-width: 888px) and (min-width: 769px) {
    .a-sub {
        margin-bottom: 40%;
    }

    .a-desc {
        margin-top: 30%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .a-sub {
        margin-bottom: 15%;
    }
}

/* LAPTOP VIEW */


/* TABLET VIEW */

@media screen and (max-width: 768px) and (min-width: 481px) {
    
}

/* TABLET VIEW */


/* PHONE VIEW */

@media screen and (max-width: 480px) {
    .a {
        height: 100vh;
    }

    .a-left {
        display: none;
    }

    .a-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a-sub {
        height: 20vh;
    }

    .a-award {
        width: 100%;
    }

    .a-award-img {
        margin-left: 2
    }

    .a-award-texts {
        display: flex;
        flex-direction: column;
    }

    .a-award-desc {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 390px) {
    .a-sub {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 460px) {
    .a-sub {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 375px) {
    .a-sub {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 335px) {
    .a-sub {
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 323px) {
    .a-sub {
        margin-bottom: 40%;
    }
}

/* PHONE VIEW */

