.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    background: linear-gradient(to right, rgb(238, 238, 238), white);
    color: #FFF;
    height: 5vh;
    padding: 1em;
    position: fixed;
    z-index: 100;
    width: 100%;
    border: 1px solid lightgray;
  }

.links-left {
    display: flex;
    flex-direction: row;
}

.links-left a {
    color: black;
    text-align: center;
    width: 20%;
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0 1rem;
    padding: .2rem 0;
    letter-spacing: .035em;
    position: relative;
    transition: color .4s ease-out;
}

.links-left a::after {
    border-radius: 1em;
    border-top: .1em solid lightgray;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),border-color .4s ease-out;
}

.links-left a:hover::after {
    animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
    border-color: rgb(43, 43, 43);
}

.links-left a:hover {
    text-decoration: none;
    color: orange;
}

@keyframes anchor-underline {
    0%, 10% {
      left: 0;
      right: 100%;
    }
    40%, 60% {
      left: 0;
      right: 0;
    }
    90%, 100% {
      left: 100%;
      right: 0;
    }
}

.links-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}

.links-right a {
    display: flex;
    align-items: center;
}

.social {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.social-g {
    width: 3.3rem;
    height: 3.3rem;
    margin: 0 1rem;
}

/* MENU BUTTON */

.menu-button-container {
    display: none;
    height: 100%;
    width: 3%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #ff8317;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

  /* MENU BUTTON */


/* LAPTOP VIEW */

@media screen and (max-width: 940px) and (min-width: 769px) {
    .links-left a {
        font-size: 2vw;;
    }
}

/* LAPTOP VIEW */


/* TABLET VIEW */

/* @media screen and (max-width: 768px) {
    
} */

/* TABLET VIEW */


/* PHONE VIEW */

/* @media screen and (max-width: 458px) {
   
} */

/* PHONE VIEW */



@media (max-width: 768px) {
    .menu-button-container {
      display: flex;
    }
    .links-left a {
        display: none;
    }
    .links-left {
      position: absolute;
      top: 0;
      margin-top: 8.5%;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    #menu-toggle ~ .links-left a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .links-left a {
        display: unset;
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      font-size: 1rem;
    }
    .links-left > a {
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .links-left > a:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  @media (max-width: 679px) {
    .links-left {
        margin-top: 10.5%;
    }
  }

  @media (max-width: 545px) {
    .links-left {
        margin-top: 13%;
    }
  }

  @media (max-width: 451px) {
      .links-left {
          margin-top: 15%;
      }
  }