.footer {
    height: 6.6vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.footer i {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}